@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

.info-box {
  border-radius: 20px;
  height: 70vh;
  padding: 15px 15px;
  background-size: 100% 300%;
  background-attachment: fixed;
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  margin: 0px;
}

/* Custom infoBox scrollbar */
.info-box::-webkit-scrollbar {
  height: 10px;
  background: #f1f1f100; 
  border-radius: 10px;
  padding: 20px;
}

.info-box::-webkit-scrollbar-track {
}

.info-box::-webkit-scrollbar-thumb {
  background-color: rgb(46, 46, 46);
  border-radius: 10px;
  margin: 20px;
}

.select-a-park {

}

.search-container input {
  font-family: 'Montserrat', sans-serif;
}

.info-box h1 {
  font-size: 25px;
  font-weight: 700;
}

.info-box h3 {
  font-size: 30px;
  margin-bottom: 5px;
}

.info-box h4 {
  font-size: 18px;
  font-weight: 500;
}

.info-box p {
  font-size: 18px;
  font-weight: 400;
}

.info-box li {
  font-size: 20px;
  font-weight: 400;
}

/* INFO PIECES */

.additional-info {
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  transition: .8s ease;
}

.additional-info:hover {
  transform: scale(1.01);
}

.park-title {
  border-radius: 10px 60px 10px 10px;
  background-color: rgb(46, 46, 46);
  font-size: 30px !important;
  font-weight: 600 !important;
  color: #e7e7e7;
  padding: 10px 15px;
}

.park-title h1 {
}

.park-town-state h4 {
  margin: 1px;
  font-weight: 300 !important;
}

.park-town-state {
  border-radius: 300px;
  width: fit-content;
  padding: 3px 15px;  
  color: white;
  background-color: rgb(93, 93, 93);
  margin-left: 10px;
}

.park-description {
  padding: 20px;
  background-color: rgb(46, 46, 46);
  color: white;
}

#park-images {
  background-color: #66666600;
}

.park-images {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

/* Custom horizontal scrollbar */
.park-images-scroll::-webkit-scrollbar {
  height: 10px;
  background: #f1f1f157; 
  border-radius: 10px;
  padding: 20px;
}

.park-images-scroll::-webkit-scrollbar-track {
}

.park-images-scroll::-webkit-scrollbar-thumb {
  background: #ffa200; 
  border-radius: 10px;
  margin: 20px;
}

.park-images img {
  width: auto;
  height: 200px;
  border-radius: 5px;
  margin: 10px;
}

.activities {

}

.arrow-icon {
  width: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.accordion-title {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  background-color: rgb(46, 46, 46);
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s ease;
}

.accordion-title .arrow-icon {
  transition: transform 0.3s ease;
}

.accordion-title .arrow-icon.open {
  transform: rotate(-90deg);
}

.accordion-title:hover {
  background-color: rgb(83, 83, 83);
}

.accordion-content {
  max-height: 0;
  overflow: scroll;
  transition: max-height .8s ease, background-color .8s ease;
  border-radius: 20px;
  padding: 15px;
  color: white;

}

.accordion-content.open {
  max-height: 800px; /* Adjust based on the expected height of the content */
  background-color: rgb(83, 83, 83);
  color: white;

}

.weather h3{
  background: linear-gradient(45deg, #3096f0, #ffb300);
  width: fit-content;
  border-radius: 200px;
  padding: 10px 30px;
  color: white;
}

.weather-desc {
  padding: 20px;
  background-color: rgb(46, 46, 46);
  color: white;
  border-radius: 20px;

}

.phone-number {
}

.directions {
}


@media (max-width: 950px) {
  .info-box {
    border-radius: 20px;
    height: 70vh;
    padding: 10px 10px;
    background-size: 100% 300%;
    background-attachment: fixed;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin: 10px;
  }
}
