/* src/Map/Map.css */
.map {
  margin: 20px;
  border-radius: 20px;
  border: 1px solid;
  height: 560px;
  padding: 40px;
  background-color: #f5f5f500; /* fallback for older browsers */
}


.map svg {
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}

.map {
  position: relative;
}

.map svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.map-controls {
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 1000 !important;
  bottom: 30px !important;
  left: 30px ;
}

.map-controls button {
  padding: 0px 0px;
  border: none;
  cursor: pointer;
  opacity: 80%;
  transition: 1s ease;
  z-index: 1000 !important;
}

.map-controls button:hover {
  opacity: 100%;
}

.zoom-controls {
  width: 100%;
}

.zoom-controls button {
  flex-direction: row;
  line-height: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 19px;
  font-weight: 700;
  padding: 13px 30px;
  font-family: 'Nunito', sans-serif; /* Change to Nunito font */
  margin: 5px;
  width: 75px;
  transition: .5s ease;
}

.zoom-controls button:hover {
  background: rgb(255, 200, 0); /* gradient colors */
}

.reset-button button {
  flex-direction: row;
  line-height: 0;
  width: 100px;
  text-align: center;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  padding: 13px 20px;
  margin: 5px;
  font-family: 'Nunito', sans-serif; /* Change to Nunito font */
  transition: .5s ease;
  background: white;
}

/* Import Nunito font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');


.reset-button button:hover {
  background: rgb(255, 200, 0); /* gradient colors */
}

/* Styling for the dots on hover */
.map-container circle:hover {
  fill: rgb(255, 219, 153);
}

/* Pulsing animation for selected park */
@keyframes pulse {
  0% {
    r: 0.15%;
  }
  50% {
    r: 0.45%;
  }
  100% {
    r: 0.15%;
  }
}


circle.park-selected {
  fill: rgba(255, 255, 0, 0.795); /* Adjust this as needed */
}

/* Define keyframes for animating fill */


/* Apply animation to circles */
.map-container circle {
  background-image: url("pin.svg");
  fill: rgba(18, 156, 241, 0.847);
  stroke: black;
  stroke-width: 0.02px;
  cursor: pointer;
  transition: stroke, fill 0.3s ease-out;
}

.map-container circle:hover {
  fill: rgb(255, 221, 0);
}

@keyframes pulse {
  0% {
    opacity: 1;
    stroke-width: .09px;
  }
  50% {
    opacity: 0.9;
    stroke-width: .3px;
  }
  100% {
    opacity: 1;
    stroke-width: .09px;
  }
}

circle.park-selected {
  animation: pulse 2s infinite;
  stroke: #fff200;
  stroke-width: .2px;
  position: absolute;
}

.tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px;
  border-radius: 30px;
  pointer-events: none;
  font-size: 14px;
  transform: translateY(-20px);
  font-family: 'Nunito', sans-serif; /* Change to Nunito font */
  margin-left: 10px;
}

g {
  fill: rgba(255, 255, 255, 0);

}

.map-container {
  position: relative;
  background-size: cover; /* Ensure the SVG covers the entire map */
}