.nav-bar {
  height: 90px;
  padding: 10px 20px;
  margin: 20px;
  background-color: rgb(155, 155, 155);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.checkbox-container {
  margin-top: 0px;
  display: flex;
}

.checkbox-container label {
  display: block;
  margin-bottom: 5px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

.search-container {
  position: relative; /* Added for suggestions positioning */
  margin-top: 0px;
}

.search-container input[type="text"] {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.search-container button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #45a049;
}

.search-container .suggestions {
  position: absolute; /* To position it below the input */
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px; /* Limit height */
  overflow-y: auto; /* Enable scroll */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  z-index: 1000; /* Ensure it appears above other elements */
}

.search-container .suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.search-container .suggestion-item:hover {
  background-color: #f0f0f0;
}

.dropdown-container {
  margin-left: 10px;
  display: absolute;
}

.dropdown-container label {
  margin-right: 5px;
}

.dropdown-container select {
  padding: 5px;
}

.state-selection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.state-selection h5 {
font-size: 30px;
}