.Main {
  height:100vh;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  background: linear-gradient(25deg, #5bbae6, #4f56ba, #626ade, #0b767a); /* gradient colors */
  background-size: 500% 100%; /* Set the gradient size */
  /* Animation */
  animation: colorChange 50s infinite ease-in-out;
}

@keyframes colorChange {
  0% {
    background-position: 0% 50%; /* Starting gradient position */
  }
  50% {
    background-position: 85% 50%; /* Ending gradient position */
  }
  100% {
    background-position: 0% 50%; /* Ending gradient position */
  }
}



.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 80vh;
  border: 0px solid #e4b531;
  border-radius: 30px;
  width: 96vw;
}

.Tool {
  border: 1px solid #ccc;
}

.explorer {
  width: 30vw;
}

@media (max-width: 950px) {
.App {
  flex-direction: column-reverse;
}
.explorer {
  width: 90vw;
  margin-top: 30px;
}
}